.chart-title {
  color: var(--lighter-content-text-color);
  font-family: var(--font-header);
  font-weight: 600;
  letter-spacing: 0.15rem;
}

.chart-container {
  width: 100%;
  height: 70%;
}

.chart-bg {
  background-color: white;
}
